body {
    background-color: #ffe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

img {
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    color: #d63384;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s; /* Pour un agrandissement fluide */
}

#yesButton {
    background-color: #28a745;
    color: white;
}

#noButton {
    background-color: #dc3545;
    color: white;
}