body {
    background-color: #ffe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

img {
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    color: #d63384;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permet de passer à la ligne si ça devient trop gros */
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* On enlève la transition de transform pour une transition de taille fluide */
    transition: all 0.2s ease-in-out;
}

#yesButton {
    background-color: #28a745;
    color: white;
}

#noButton {
    background-color: #dc3545;
    color: white;

}
